<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static "css/World.css" %}">
  </head>
  <body class=addworld align="center">
   <div class="main">
    <h1>ADD MATCHES</h1>
    <form method="POST">
      {{form.as_p}}
      {% csrf_token %}
      <input type="submit",value="Add Match">
    </form>
   </div>
  </body>
</html>
